.button {
  width: 100px;
  height: 40px;
  background-color: var(--transparent-450);
  border-radius: 8px;
  border: none;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 24px;
  min-height: 565px;
  max-width: 295px;
  background-color: var(--transparent-500);
}

.text_container {
  margin-top: 15px;
  max-width: 225px;
}

.button_container {
  display: flex;
  justify-content: end;
  margin-top: 35px;
}
