.button {
  width: 6.25rem;
  height: 2.25rem;
  background-color: var(--transparent-450);
  border-radius: 0.5rem;
  border: none;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  min-height: 35.25rem;
  max-width: 18.5rem;
  background-color: var(--transparent-500);
}

.text_container {
  margin-top: 1rem;
  max-width: 14rem;
}

.button_container {
  display: flex;
  justify-content: end;
  margin-top: 2.25rem;
}
