nav {
  margin-top: 4.75rem;
  font-size: 150%;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

nav a {
  display: block;
  padding: 0.5rem;
  color: var(--opaque-white);
  text-decoration: none;
}

.link_border {
  border-bottom: 2px solid var(--transparent-0);
}

.link_border:hover {
  border-bottom: 2px solid var(--white);
}

nav a:hover {
  color: var(--white);
  border-color: var(--white);
}
