nav {
  margin-top: 75px;
  font-size: 150%;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

nav a {
  display: block;
  padding: 0.5rem;
  color: var(--opaque-white);
}

.link_border {
  border-bottom: 2px solid var(--grays-100);
}

nav a:hover {
  color: var(--white);
  border-color: var(--white);
}
