img {
  max-width: 100%;
}

button {
  width: 190px;
  height: 60px;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  background-color: #00b43d;
  border: 1px solid white;
  border-radius: 8px;
  margin-top: 350px;
}

.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.homepage_image {
  position: absolute;
  height: 100%;
  min-width: 100%;
  opacity: 0.6;
  z-index: -10;
}

.button_container {
  width: 100%;
  display: flex;
  justify-content: center;
}
